

#page-bg-image{
    background-image: linear-gradient( rgb(0, 0, 36, 0.9), rgb(0, 0, 36, 0.9), rgb(0, 0, 36, 0.9)), url(images/hqdefault.jpg);
    height: 695px;
    width: auto;
    background-size: cover;
}



@media(max-width:320px){
    #page-bg-image{
        height: 697%;
 }
    
}
@media(max-width:375px){
    #page-bg-image{
        height: 697%;
 }
    
}
@media(max-width:425px){
    #page-bg-image{
        height: 697%;
 }
    
}
@media(max-width:768px){
    #page-bg-image{
        height: 697%;
 }
    
}